project_id = "sbtldudgiskqfqqkrmaa"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
shadow_port = 54320
major_version = 15

[db.pooler]
enabled = false
port = 54329
pool_mode = "transaction"
default_pool_size = 20
max_client_conn = 100

[realtime]
enabled = true
ip_version = "ipv4"
port = 54323
max_header_length = 4096

[studio]
enabled = true
port = 54323
api_url = "http://127.0.0.1:54321"

[inbucket]
enabled = true
port = 54324
sender_name = "Dev Team"
smtp_port = 54325
pop3_port = 54326

[storage]
enabled = true
port = 54321
file_size_limit = "50MiB"
image_transformation = { enabled = true }

[auth]
enabled = true
port = 54321
site_url = "http://127.0.0.1:3000"
additional_redirect_urls = ["https://127.0.0.1:3000"]
jwt_expiry = 3600
enable_signup = true
enable_email_confirmations = false
enable_email_autoconfirm = true

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = false
max_frequency = "1s"

[auth.sms]
enable_signup = false
enable_confirmations = false
max_frequency = "5s"

[edge_runtime]
enabled = true
port = 54321
inspector_port = 8083

[functions.send-ride-documents]
verify_jwt = true

[functions.scrape-technical-bulletins]
verify_jwt = true

[functions.send-ride-type-request]
verify_jwt = true

[functions.send-inspection-reminders]
verify_jwt = false

[functions.send-welcome-email]
verify_jwt = false

[functions.send-daily-check-report]
verify_jwt = true

[functions.setup-admin]
verify_jwt = true

[functions.send-support-notification]
verify_jwt = true

[functions.send-document-expiry-reminders]
verify_jwt = false

[functions.spellcheck-items]
verify_jwt = true

[analytics]
enabled = false
port = 54327
vector_port = 54328
gw_port = 54329
